/* UPDATE VERSION [4] */

#title-author-div {
    width:100%;
}

#title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
}

#author {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

#button-div {
    margin: 25px auto 25px auto;
    width: 500px;
    height: 50px;
    display: flex;
    gap: 50px;
}

.button {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #007BFF;
    flex: 1;
}

button:hover {
    background-color: #0056b3;
    cursor: pointer;
    font-weight: bold;
}

#text-editor-div {
    display: flex;
    width: 90%;
    margin: auto;
    border: 3px solid #333333;
    font-family: 'Fira Code', 'Courier New', 'Consolas', 'Monaco', monospace;
    padding: 25px;
    border-radius: 10px;
    background-color: #F5F5F5;
}

#line-numbers {
    background-color: #F5F5F5;
    color: #333333;
    text-align: center;
    user-select: none;
    overflow: hidden;
    font-size: 20px;
    width: 40px;
    font-family: 'Fira Code', 'Courier New', 'Consolas', 'Monaco', monospace;
    border: 1px solid #333333;
}

#text-editor {
    flex: 1;
    border: none;
    outline: none;
    resize: none;
    background-color: #F5F5F5;
    color: #333333;
    overflow: auto;
    font-size: 20px;
    border: 1px solid #333333;
}

#text-editor::placeholder {
    color: var(--placeholder-color, #333333);
    opacity: var(--placeholder-opacity, 1);
}

/*
Responsive Web Design: Tablet Screen Size
*/
@media (min-width: 769px) and (max-width: 1024px) {}

/*
Responsive Web Design: Mobile (Phone) Landscape Screen Size
*/
@media (min-width: 481px) and (max-width: 768px){}

/*
Responsive Web Design: Mobile (Phone) Portrait Screen Size
*/
@media (max-width: 480px) {}