/* UPDATE VERSION [37] */

:root {
    --title-font-size: 60px;
    --author-font-size: 45px;
    --button-font-size: 30px;
    --standard-font-size: 20px;
    --standard-color1: lime;
    --standard-color2: black;
    --standard-font-family: 'Fira Code', 'Courier New', 'Consolas', 'Monaco', monospace;
    --button-color: #F5F5F5;
    --button-background-color: #007BFF;
    --button-hover-background-color: #0056b3;
    --standard-width: 90%;
    --standard-height: 300px;
    --standard-placeholder-color: lime;
    --standard-placeholder-opacity: 1;
    --standard-margin: 25px;
    --standard-padding: 25px;
    --standard-border-radius: 10px;
    --standard-border-size: 1px;
    --standard-border-style: solid;
}

html, body {
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #000000, #001a00, #003300);
}

#title-author-div {
    width:100%;
}

#title {
    font-size: var(--title-font-size);
}

#author {
    font-size: var(--author-font-size);
}

.title-author-class {
    text-align: center;
    font-family: var(--standard-font-family);
    color: var(--standard-color1);
}

#button-div {
    margin: var(--standard-margin) auto  var(--standard-margin) auto;
    width: var(--standard-width);
    height: 50px;
    display: flex;
    gap: 50px;
}

.button {
    text-align: center;
    font-family: var(--standard-font-family);
    font-size: var(--button-font-size);
    border-radius: var(--standard-border-radius);
    border: none;
    color: var(--button-color);
    background-color: var(--button-background-color);
    flex: 1;
}

button:hover {
    background-color: var(--button-background-color);
    cursor: pointer;
    font-weight: bold;
}

#text-editor-div {
    display: flex;
    width: var(--standard-width);
    height: var(--standard-height);
    overflow: hidden;
    margin: auto;
    border: calc(var(--standard-border-size) * 3) var(--standard-border-style) var(--standard-color1);
    font-family: var(--standard-font-family);
    padding: var(--standard-padding);
    border-radius: var(--standard-border-radius);
    background-color: var(--standard-color2);
}

#line-numbers {
    background-color: var(--standard-color2);
    color: var(--standard-color1);
    text-align: right;
    user-select: none;
    overflow: hidden;
    font-size: var(--standard-font-size);
    width: 60px;
    font-family: var(--standard-font-family);
    border-top: 1px solid var(--standard-color1);
    border-left: 1px solid var(--standard-color1);
    border-bottom: 1px solid var(--standard-color1);
    border-right: none;
}

#text-editor {
    flex: 1;
    border: none;
    outline: none;
    resize: none;
    background-color: var(--standard-color2);
    color: var(--standard-color1);
    overflow-y: auto;
    overflow-x: auto;
    white-space: pre;
    max-height: var(--standard-height);
    font-size: var(--standard-font-size);
    border: var(--standard-border-size) var(--standard-border-style) var(--standard-color1);
}

#text-editor::placeholder {
    color: var(--standard-placeholder-color);
    opacity: var(--standard-placeholder-opacity);
}

#terminal-div {
    width: var(--standard-width);
    display: block;
    margin: var(--standard-margin) auto var(--standard-margin) auto;
    background-color: var(--standard-color2);
    padding: var(--standard-padding);
    border: calc(var(--standard-border-size) * 3) var(--standard-border-style) var(--standard-color1);
    border-radius: var(--standard-border-radius);
    overflow-y: auto;
    overflow-x: auto;
}

#terminal {
    height: var(--standard-height);
}

#terminal::placeholder {
    color: var(--standard-placeholder-color);
    opacity: var(--standard-placeholder-opacity);
}

#terminal:hover {
    cursor: default;
}

#terminal-input-div {
    width: var(--standard-width);
    display: block;
    margin: var(--standard-margin) auto var(--standard-margin) auto;
    background-color: var(--standard-color2);
    padding: var(--standard-padding);
    border: calc(var(--standard-border-size) * 3) var(--standard-border-style) var(--standard-color1);
    border-radius: var(--standard-border-radius);
}

#terminal-input {
    height: 100%;
}

#terminal-input::placeholder {
    color: var(--standard-placeholder-color);
    opacity: var(--standard-placeholder-opacity);
}

#documentation-div {
    width: var(--standard-width);
    display: block;
    margin: var(--standard-margin) auto var(--standard-margin) auto;
    background-color: var(--standard-color2);
    padding: var(--standard-padding);
    border: calc(var(--standard-border-size) * 3) var(--standard-border-style) var(--standard-color1);
    border-radius: var(--standard-border-radius);
}

#documentation {
    height: var(--standard-height);
}

.div-container-css {
    font-size: var(--standard-font-size);
    width: 100%;
    background-color: var(--standard-color2);
    color: var(--standard-color1);
    font-family: var(--standard-font-family);
    border: var(--standard-border-size) var(--standard-border-style) var(--standard-color1);
    overflow-y: auto;
    overflow-x: hidden;
    resize: none;
    outline: none;
    box-sizing: border-box;
}

#documentation::placeholder {
    color: var(--standard-placeholder-color);
    opacity: var(--standard-placeholder-opacity);
}

#documentation:hover {
    cursor: default;
}

/*
Responsive Web Design: Tablet Screen Size
*/
@media (min-width: 769px) and (max-width: 1024px) {
    :root {
        --title-font-size: 50px;
        --author-font-size: 37.5px;
        --button-font-size: 25px;
        --standard-font-size: 18px;
        --standard-width: 85%;
        --standard-height: 250px;
        --standard-margin: 20px;
        --standard-padding: 20px;
    }
}

/*
Responsive Web Design: Mobile (Phone) Landscape Screen Size
*/
@media (min-width: 481px) and (max-width: 768px){
    :root {
        --title-font-size: 40px;
        --author-font-size: 30px;
        --button-font-size: 20px;
        --standard-font-size: 15px;
        --standard-width: 80%;
        --standard-height: 200px;
        --standard-margin: 15px;
        --standard-padding: 15px;
    }
}

/*
Responsive Web Design: Mobile (Phone) Portrait Screen Size
*/
@media (max-width: 480px) {
    :root {
        --title-font-size: 30px;
        --author-font-size: 22.5;
        --button-font-size: 15px;
        --standard-font-size: 12px;
        --standard-width: 75%;
        --standard-height: 150px;
        --standard-margin: 10px;
        --standard-padding: 10px;
    }
}